[Unit]
Description="SPIRE Server - SPIFFE Runtime Environment"
Documentation=https://spiffe.io/docs/latest/spire-about/spire-concepts/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ spire_dir_config }}/server.conf
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
User={{ spire_owner }}
Group={{ spire_group }}
ProtectSystem=full
ProtectHome=read-only
ProtectClock=yes
ReadWritePaths={{ spire_dir_data }}
PrivateTmp=yes
NoNewPrivileges=yes
ExecStart=/usr/local/bin/spire-server run -config {{ spire_dir_config }}/server.conf
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=5
TimeoutStopSec=30
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
