[defaults]
roles_path = ansible/roles
inventory = ansible/inventory.yaml

[ansible-lint]
skip_list:
  - var-naming

[ssh_connection]
# Use Pipelining to prevent from Ansible using scp/sftp
pipelining = True
# Ansible execution MUST utilize OpenSSH client tooling to honor host-level known_hosts and identity declarations.
transport = ssh
# Dynamic template variables MUST inject resolved credential and known_hosts file locations for the target cluster.
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s ANSIBLE_RUNNER_SSH_ARGS_PLACEHOLDER
