
domain_suffix = "iac.local"

network_baseline = {
  cidr_block         = "172.16.0.0/16"
  vip_offset         = 250
  node_ip_start      = 200
  mac_prefix         = "52:54:00"
  global_mtu         = 1450
  global_mss         = 1360
  node_exporter_port = 9100
}

pki_config = {
  root_ca_common_name         = "On-prem Infrastructure Root CA"
  intermediate_ca_common_name = "On-prem Infrastructure Intermediate CA"
}
