
node_config = {
  "00" = { ip_suffix = 200, vcpu = 2, ram = 2048 }
  "01" = { ip_suffix = 201, vcpu = 2, ram = 2048 }
  "02" = { ip_suffix = 202, vcpu = 2, ram = 2048 }
}

talos_config = {
  talos_version      = "v1.13.8"
  kubernetes_version = "v1.36.5"
}

helm_chart_version = {
  cilium = "1.20.2"
}
