
domain_suffix = "iac.local"

network_baseline = {
  cidr_block         = "172.16.0.0/16"
  host_vip_offset    = 250
  global_mac_prefix  = "52:54:00"
  global_mtu         = 1450
  global_mss         = 1360
  node_exporter_port = 9100
}

global_pki_identity = {
  root_ca_common_name         = "Platform Infrastructure Root CA"
  intermediate_ca_common_name = "Platform Infrastructure Intermediate CA"
  mount_path                  = "pki_int"
}

service_catalog = {
  "cilium" = {
    owner        = "devops"
    project_code = "platform"
    stage        = "production"
    components = {
      "frontend" = {
        provider   = "kvm"
        runtime    = "talos"
        cidr_index = 125
        tags       = []
        ip_range   = { start_ip = 200, end_ip = 202 }
        ports = {
          "apid"       = { frontend_port = 50000, backend_port = 50000 } # Talos apid, management network only
          "kubernetes" = { frontend_port = 6443, backend_port = 6443 }
        }
        ingress = {}
      }
    }
  },
  "vault" = {
    owner        = "secops"
    project_code = "platform"
    stage        = "production"
    components = {
      "frontend" = {
        provider   = "kvm"
        runtime    = "baremetal"
        cidr_index = 128
        tags       = []
        ip_range   = { start_ip = 200, end_ip = 202 }
        ports = {
          "api" = {
            frontend_port            = 443,
            backend_port             = 8200
            health_check_type        = "http"
            health_check_http_path   = "/v1/sys/health"
            health_check_http_expect = "rstatus (200|429)"
            health_check_ssl         = true
          }
        }
        data_disks = [{ name_suffix = "raft-data" }]
        ingress = {
          "raft" = { subdomains = ["vault"] }
        }
      }
    }
  },
  "keycloak" = {
    owner        = "secops"
    project_code = "platform"
    stage        = "production"
    components = {
      "frontend" = {
        provider   = "kvm"
        runtime    = "docker"
        cidr_index = 129
        tags       = []
        ip_range   = { start_ip = 200, end_ip = 200 }
        ports = {
          "https" = {
            frontend_port     = 443,
            backend_port      = 8080,
            health_check_port = 9000,
            health_check_type = "tcp",
            health_check_ssl  = false
          }
          "mgmt" = {
            frontend_port     = 9000,
            backend_port      = 9000,
            health_check_type = "tcp",
            health_check_ssl  = false
          }

        }
        data_disks = [{ name_suffix = "data", capacity_gib = 20 }]
        ingress = {
          "frontend" = { subdomains = ["sso"] }
        }
      }
    }
  },
  "harbor-origin" = {
    owner        = "devops"
    project_code = "platform"
    stage        = "production"
    components = {
      "frontend" = {
        provider   = "kvm"
        runtime    = "docker"
        cidr_index = 127
        tags       = []
        ip_range   = { start_ip = 200, end_ip = 200 }
        ports = {
          "http"    = { frontend_port = 80, backend_port = 80 }
          "https"   = { frontend_port = 443, backend_port = 443 }
          "metrics" = { frontend_port = 9090, backend_port = 9090 }
        }
        data_disks = [{ name_suffix = "data", capacity_gib = 50 }]
        ingress = {
          "frontend" = { subdomains = ["harbor-bootstrapper"] }
        }
        oidc_client = {
          name          = "Harbor Bootstrapper"
          redirect_path = "/c/oidc/callback"
        }
      }
    }
  },
  "spire-parent" = {
    owner        = "secops"
    project_code = "platform"
    stage        = "production"
    components = {
      "frontend" = {
        provider   = "kvm"
        runtime    = "baremetal"
        cidr_index = 126
        tags       = []
        ip_range   = { start_ip = 200, end_ip = 200 }
        ports = {
          "api" = {
            frontend_port     = 8081,
            backend_port      = 8081,
            health_check_type = "tcp",
            health_check_ssl  = false
          }
        }
        data_disks = [{ name_suffix = "data", capacity_gib = 5 }]
        ingress    = {}
      }
    }
  }
}
