
target_components = { "keycloak" = { service = "keycloak", component = "frontend" } }
primary_role    = "keycloak"

service_config = {
  "keycloak" = {
    role            = "keycloak"
    network_tier    = "default"
    base_image_path = "../../../packer/output/base-docker-keycloak/ubuntu-24-base-docker-keycloak.qcow2"
    nodes = {
      "00" = { ip_suffix = 200, vcpu = 2, ram_size = 1536 }
    }
  }
}

# Read when the runtime of keycloak/frontend in the service catalog is a Kubernetes native runtime.
node_config = {
  "00" = { ip_suffix = 200, vcpu = 2, ram = 4096 }
}

talos_config = {
  talos_version      = "v1.13.8"
  kubernetes_version = "v1.36.5"
}

helm_chart_version = {
  cilium           = "1.20.2"
  cert_manager     = "v1.21.2"
  external_secrets = "2.11.0"
}
